@import '~bootstrap/dist/css/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';
@import '~flag-icon-css/css/flag-icons';
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Rock+Salt&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Condensed&family=Rock+Salt&family=Varela+Round&display=swap');


body
{
    margin:0px;
    padding: 0px;
    font-family: 'Comfortaa', sans-serif;
}


.logo{
    font-family: 'Abril Fatface', sans-serif;
    font-size: 35px;
}

.my-dropdown-width{
    min-width: 0 !important;
}


.my-nav{
    font-family: 'Roboto Condensed', sans-serif;
    background: #114358;
    font-size: 20px;
    display: flex;
    justify-content: center;
    max-height: 80px;
    background-color: #fff;
}

.droptrue{
    font-size: 16px;
}

.dropfalse{
    font-size: 16px;
}

.carousel .item{
    max-height: 350px;
}

.my-subtitle{
    position: relative;
    left: 280px;
    top: 100px;
}



/* LOGIN */


.form-container{
    width: 100%;
    justify-items: center;
}

.form-register{
    width: 100%;
    background-color: rgba(255,255,255,1);
    display: flex;
    justify-items: center;
    font-size: 15px;
}
.form-login-create{
    display: block;
    margin: auto;
    width: 750px;
    background-color: rgba(255,255,255,1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 20px rgba(8,7,16,06);
    padding: 30px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: url(/public/images/Shopping-rafiki.png);


}
.form-login{
    display: block;
    margin: auto;
    width: 450px;
    background-color: rgba(255,255,255,1);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8,7,16,06);
    font-size: 15px;
}
.form-login h2{
    font-family: 'Roboto Condensed', sans-serif;
}
.lable-login{
    display: block;
    font-size:1rem;
}
.input-login{
    outline: none;
    border: none;
    width: 100%;
    background-color: rgba(245,222,198,1);
    border-radius: 25px;
    padding: 10px 10px;
    margin-top: 8px;
    font-weight: 100px;
    font-size: 18px;


}
.input-login::before{
    color: rgb(87,79,79);
}
.input-register{
    outline: none;
    border: none;
    width: 100%;
    background-color: rgba(245,222,198,1);
    border-radius: 25px;
    padding: 10px 20px;
    margin-top: 25px;
    font-weight: 100px;
    font-size: 18px;

}

.pass{
position: relative;
border: none;
background-color: rgba(245,222,198,1);
border-radius: 25px;
width: 100%;
font-weight: 100px;
}

.pass i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    right: 20px;
}
#show-hide{
    font-size: 1rem;
}

hr{
    margin-top: 20px;
    height: 1px;
    background-color: #ffffff7f;
    border: none;
    outline: navajowhite;
}
.social{
    display: flex;
    justify-content: center;
    width: 100%;
}
.social div{
    width: 150px;
    border-radius: 5px;
    padding: 10px 5px;
    background-color: rgba(255,255,255,0.27);
    text-align: center;
    margin: 0 14px;
    cursor: pointer;
}
.social div:hover{
    background-color: rgba(248,247,247,0.511);
}
.social a{
    text-decoration: none;
}
.go{
    color: #e60000;
}
.fb{
    color: blue;
}
.social i{
    margin-right: 2px;
}

.a-register{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 35px;
    width: 50%;
}
.a-login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
@media screen and (max-width:462px){
    .form-login{
        width: 100%;
    }
}
/* Fin Login --------------*/

.my-card{
    border-radius: 25px;
    text-align: center;
}


.product-grid{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin: 5px 15px 0;
    border-radius: 25px;
    transition: all 0.5s;
}
.product-grid:hover{ box-shadow:  0 0 10px rgba(0,0,0,0.5); }
.product-grid .product-image{ position: relative; }
.product-grid .product-image a.image{
    border-radius: 25px;
    overflow: hidden;
    display: block;
}
.product-grid .product-image img{
    width: 100%;
    height: auto;
}

.product-grid .price{
    color: #000;
    background: #ffc107;
    font-size: 15px;
    font-weight: bold;
    padding: 2px 12px 2px 12px;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 25px;
    position: absolute;
    top: 25px;
    left: -15px;
}
.product-grid  .price span{
    font-weight: 400;
    text-decoration: line-through;
    opacity: 0.5;
}


.product-grid
.product-grid:hover .add-to-cart{ opacity:1; }
.product-grid .product-content{
    background-color: #fff;
    text-align: left;
    padding: 15px 10px;
    border-radius: 25px;
    transition: all 0.3s;
}

.product-grid .title a{
    color: #323b45;
    transition: all 0.4s ease-out;
}


nav, .main-font, footer {
    font-family: 'Roboto Condensed', sans-serif;
}


.img_about {
    border-radius: 5%;


}

@media screen and (max-width:462px){
    .form-login{
        width: 100%;
    }
}

/* Buttons */

.btn-show{
    font-size: 25px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    background:#323b45;
    padding: 5px 3px;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    width: 150px;
}

.my-btn-call{
    font-size: 18px;
    text-decoration: none;
    border-radius: 25px;
    background-color: #ffc107;
    border: 1px solid rgba(0,0,0,0.08);
    padding: 7px;
    font-family: 'Roboto Condensed', sans-serif;
}

.my-btn{
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    background:#323b45;
    padding: 7px;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn-login{
    margin-top: 30px;
    width: 100%;
    padding: 15px 0;
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    transition: all 0.1s;
}
.btn-login:hover{
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 0.25rem 0.25rem #2a2a2c;
}

.pagination > .active > span {
    background-color: #ffc107;
    border: 1px solid rgba(0,0,0,0.08);
}

/* Estilos para las etiquetas de las imagenes de Google en vista revisor*/
.VERY_UNLIKELY {
    color: green;
}
.UNLIKELY {
    color: greenyellow
}
.POSSIBLE {
    color: gold
}
.LIKELY {
    color: orange
}
.VERY_LIKELY {
    color: red
}
.UNKNOWN {
    color: grey
}


/* .container-cat{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items:baseline
}
.my-baby a {
    width: 50px;
    display: flex;
    justify-content:space-between;
    margin: 30px;
    padding: 10px;

}
.my-baby img{
    width: 50px;
} */
.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.category {
    text-align: center;
    margin: 60px 40px 40px 40px;
}
.category img:hover{
    box-shadow: 0px 0px 10px 2px rgba(255,193, 6, 0.5);
    border-radius: 10px;

    padding: 5px;
}

.category img {
    width: 100%;
    max-width: 75px;
    height: auto;


}

.category p {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 0;
}







.card {
    width: 300px;
    height: 550px;
    border-radius: 40px;
    border: none;
    overflow: hidden;
    padding: 25px;
    margin: 30px;
    border-radius: 54px;
    background: navajowhite;
    box-shadow:  15px 15px 20px #ffc107,
            -41px -41px 84px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 92%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 80%;
    height: auto;
    border-radius: 80%;
    box-shadow:
        0px 0px 20px #c9c9c9,
        0px 0px 20px #ffffff;

}

.content {
    padding: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 'Roboto Condensed', sans-serif;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color:#2a2a2c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}

.button:hover {
    background-color:#ffc107;
    transform: translateY(-3px);
}



@media screen and (max-width: 768px) {
    .card {
    height: auto;
    }

    .card-image {
    height: 40%;
    }

    .card-content {
    padding: 10px;
    }
}


